################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/PagedList.Core.Mvc/bin
/src/PagedList.Core.Mvc/obj
/src/PagedList.Core.Mvc/Properties/PublishProfiles
/src/PagedList.Core.Mvc/PagedList.Core.Mvc.csproj.user
/src/.vs
/src/PagedList.Core.Mvc.Sample/bin
/src/PagedList.Core.Mvc.Sample/obj
